#gallery {
  list-style: none;
  display: flex;
}

.gallery__item:not(:last-child) {
  margin-right: 20px;
}

.gallery__img {
  width: 250px;
}

/* Задача - 6 */

#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}
